<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>mb - Message Bus</title>
</head>
<body>
    <h1>mb - Message Bus</h1>
    <p>
        Communications Daemon - @Model.Version
        @Model.MachineName
    </p>
    <ul>
        <li><a href="Clients">Clients</a></li>
        <li><a href="Transports">Transports</a></li>
        <li><a href="Logfile">Logfile</a></li>
        <li><a href="">Information</a></li>
    </ul>

    <table>
        <tr>
            <td>DateTime</td>
            <td>@Model.DateTime</td>
        </tr>
        <tr>
            <td>MachineName</td>
            <td>@Model.MachineName</td>
        </tr>
        <tr>
            <td>UserName</td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td>UserDomainName</td>
            <td>@Model.UserDomainName</td>
        </tr>
        <tr>
            <td>Application</td>
            <td>@Model.Application</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>@Model.Version</td>
        </tr>
    </table>
</body>
</html>